html{
    margin:0;
    /* background-color: #212121;
    color:white; */
}
span{
    display:block;
}
.canvas{
    margin:100px auto 100px;
    text-align:center;
    width:80%;
}

.button{
    width:100px;
    height:100px;
    border: solid black 2px;
    display:inline-block;
}
#grey{
    background-color: grey;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#white{
    background-color: white;
}